In [2]:
import numpy as np
import pandas as pd

In [58]:
#######------------------ Computing capital income share and the capital/output for 5 countries from Penn World Table ------------#######
 
## Step1: Reading the excel file ##

na = pd.read_excel('pwt100.xlsx',sheet_name='Data')

In [59]:
## S2: Keeping the varaibles I will use from the table ##
na = na[['country','year','countrycode','rgdpna','rnna','irr']]

In [60]:
## S3: Creating the variables of interest ##

# Creating the capital (K) to output (Y) ratio column #
na['K/Y'] = na['rnna']/na['rgdpna']

# Creating a column for capital income share (sK) #
na['sK']= na['K/Y']*na['irr']

In [61]:

## S4: Choosing the countries and the two periods of time ##

# Keeping Japan, Mexico, Morocco, Mauritius and Kenya #
na= na[((na['countrycode'] == 'JPN') | (na['countrycode'] == 'MEX') | (na['countrycode'] == 'MUS') | (na['countrycode'] == 'KEN')|(na['countrycode'] == 'MAR'))]
na.head(6)

# Keeping 1950 and 2015 # 

na = na [(na['year'] == 1950) | (na['year'] == 2015)]


na

,country,year,countrycode,rgdpna,rnna,irr,K/Y,sK
6090,Japan,1950,JPN,2.728260e+05,9.723618e+05,0.064696,3.564036,0.230579
6155,Japan,2015,JPN,4.916080e+06,2.582159e+07,0.044574,5.252476,0.234121
6230,Kenya,1950,KEN,1.503177e+04,3.604237e+04,0.125195,2.397746,0.300185
6295,Kenya,2015,KEN,1.830632e+05,4.513283e+05,0.114947,2.465423,0.283393
7350,Morocco,1950,MAR,1.502598e+04,1.032384e+05,0.194889,6.870662,1.339018
7415,Morocco,2015,MAR,2.473626e+05,1.322445e+06,0.097891,5.346180,0.523344
7630,Mexico,1950,MEX,1.491491e+05,5.073153e+05,0.406689,3.401397,1.383310
7695,Mexico,2015,MEX,2.248800e+06,1.019300e+07,0.118519,4.532637,0.537206
8330,Mauritius,1950,MUS,2.267946e+03,6.075013e+03,0.303339,2.678641,0.812537
8395,Mauritius,2015,MUS,2.611995e+04,8.615064e+04,0.176932,3.298270,0.583569

0

TypeError: 'int' object is not iterable